@mixin linksHover {
  color: #5ece7b;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #5ece7b;
  line-height: 32px;
}

.navbar {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 117px;
  margin-right: 101px;
  margin-top: 34.17px;
  margin-bottom: 32.82px;
  font-family: "Raleway", sans-serif;
}

.all-catagory-link {
  text-decoration: none;
  margin-right: 32px;
  color: black;
  margin-bottom: 20px;
}
.all-catagory-link:hover {
  @include linksHover();
}
.tech-link {
  text-decoration: none;
  margin-right: 32px;
  color: black;
}
.tech-link:hover {
  @include linksHover();
}
.cloth-link {
  text-decoration: none;
  margin-right: 32px;
  color: black;
}
.cloth-link:hover {
  @include linksHover();
}
.dollar {
  width: 29px;
  height: 20px;
}
.downArrow {
  width: 28px;
  height: 10px;
}
.cart {
  width: 29px;
  height: 20px;
}
.shopping-bag {
  width: 31px;
  height: 28px;
}
